* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF9F6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .contents {
    width: 80%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-bar .left {
    width: 30%;
    display: flex;
    align-items: center;
}

.nav-bar .left .logo {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .left .logo img {
    width: 100%;
}

.nav-bar .right {
    width: 70%;
}

.nav-bar .right ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    font-family: poppins;
}

.nav-bar .right ul li {
    margin-left: 5%;
}

.nav-bar .right ul a {
    text-decoration: none;
    color: #0b1f22;
    color: grey;
}

.nav-bar .right ul a:hover {
    color: #0b1f22;
    font-weight: 600;
}

.nav-bar .right ul a:focus {
    color: #0b1f22;
    font-weight: 600;
}

.nav-bar .right ul a button {
    height: 45px;
    width: 150px;
    font-family: Poppins;
    font-weight: bolder;
    border-radius: 75px;
    background: transparent;
    border: 2px solid #35a27e;
    color: #35a27e;
    cursor: pointer;
}

.nav-bar .right ul a button:hover {
    background-color: #35a27e;
    color: white;
    transition-duration: 0.3s;
}

/* Main Heading */
.heading-title {
    margin-top: 2%;
}

.heading-title h1 {
    font-size: 6rem;
    font-family: Inter;
    width: 80%;
}

.heading-title span {
    color: #35a27e;
}

.heading-title p {
    font-family: Poppins;
    font-size: 1.5rem;
    width: 60%;
    color: grey;
    margin-top: 2%;
}

.heading-title button {
    height: 55px;
    width: 180px;
    background-color: #35a27e;
    border: none;
    border-radius: 75px;
    color: white;
    font-family: Poppins;
    margin-top: 2%;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

/* section 2 */
.section-2 {
    background-color: #35a27e;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
    margin-bottom: 5%;
}

.section-2 .contents {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4%;
    text-align: center;
    background-color: #48aa89;
}

.section-2 .contents h1 {
    color: white;
    font-family: inter;
}

.section-2 .contents p {
    font-family: poppins;
    margin-top: 2%;
    color: white;
}

/* SECTION 3 */
.section-3 {
    margin-bottom: 10%;
}

.section-3 .sub-header {

    color: #35a27e;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.section-3 .header {
    display: flex;
    justify-content: center;
}

.section-3 .header h1 {
    width: 80%;
    font-size: 2.5rem;
    font-family: Inter;
    text-align: center;
}

.section-3 .header h1 span {
    color: #35a27e;
}

.section-3 .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.section-3 .cards .card {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    width: 450px;
    display: flex;
    color: #0b1f22;
    box-shadow: 0px 0px 13px 0.3px rgb(0, 0, 0, 0.2);
}

.section-3 .cards .card .icon {
    width: 30%;
    font-size: 3rem;
}

.section-3 .cards .card h1 {
    font-family: Inter;
    font-size: 1.5rem;
}

.section-3 .cards .card p {
    font-family: poppins;
    width: 80%;
}

.section-3 .cards .dark {
    background-color: #0b1f22;
    color: white;
}

/* section-4 stats */
.section-4 {
    background-color: #0b1f22;
    width: 100%;
    margin-bottom: 10%;
}

.section-4 ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-4 ul li {
    width: 25%;
    color: white;
    height: 150px;
    flex-direction: column;
    border-right: 2px dashed white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-4 ul li:last-child {
    border: none;
}

.section-4 ul li h1 {
    font-family: Inter;
    color: #35a27e;
}

.section-4 ul li p {
    font-family: Poppins;
}

/* section 5 support */
.section-5{
    margin-bottom:10%;
}
.section-5 .cols {
    display: flex;
    justify-content: space-between;
    color:#0b1f22;
}

.section-5 .cols .col {
    width: 47%;
    overflow: hidden;
}

.section-5 .cols .col h1 {
    font-family: Inter;
}
.section-5 .cols .col p{
    font-family:poppins;
    width:90%;
}
.section-5 .cols .col .image{
    height:300px;
    overflow: hidden;
    width:100%;
    border-radius:2px;
    margin-top:5%;
    margin-bottom:5%;
}
.section-5 .cols .col .image img{
    width:130%;
}
.section-5 .cols .right .image{
    height:440px;
    margin-top:0%;
}
/* section 6 services */
.section-6{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10%;
}
.section-6 .cards{
    width:80%;
}
.section-6 .header{
    display: flex;
    flex-direction: column;
    margin-bottom:5%;
    margin-top:5%;
    align-items: center;
}
.section-6 .header h1{
    font-family:Inter;
    font-size:2.5rem;
}
.section-6 .header p{
    font-family:Poppins;
    width:60%;
    text-align: center;
}
.section-6 .cards{
    display: flex;
    justify-content:space-between;
}
.section-6 .cards .card{
    height:400px;
    display: flex;
    padding:2%;
    text-align:center;
    width:38%;
    flex-direction: column;
    border-radius:5px;
    box-shadow:0px 0px 10px 0.3px rgb(0,0,0,0.2);
    color:white;
    align-items: center;
}
.section-6 .cards .card .icon{
    font-size:4rem;
}
.section-6 .cards .card .heading{
    font-family:Inter;
    font-size:2rem;
    margin-bottom:5%;
    margin-top:5%;
}
.section-6 .cards .card .text-area{
    font-family:poppins;
}
.section-6 .cards .card a{
    font-family:Poppins;
    font-weight:bolder;
    color:white;
    margin-top:5%;
}
.section-6 .cards .dark{
    background-color:#0b1f22;
}
.section-6 .cards .light{
    background-color:#FAF9F6;
    color:#0b1f22;
}
.section-6 .cards .light a{
    color:#0b1f22;
}
/* footer */
.footer{
    box-shadow:0px -2px 2px 0.5px rgb(0,0,0,0.1);
    width:100%;
    display: flex;
    justify-content:space-between;
    margin-bottom:0%;
}
.footer .col{
    width:33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .middle{
    display: flex;
    flex-direction: column;
}
.footer .middle .footer-text{
    font-family:Poppins;
    color:#0b1f22;
    padding-bottom:2%;
}
.footer .middle .logo{
    height:80px;
    width:80px;
}
.footer .middle .logo img{
    width:100%;
}
.footer .left{
    font-family:Inter;
    font-size:2rem;
}
.footer .left span{
    color:#35a27e;
}
.footer .right i{
height:40px;
border:2px solid #0b1f22;
width:40px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
margin-left:5%;
color:#0b1f22;
border-radius:50%;
font-size:1.5rem;
}
.footer .right i:hover{
    background-color:#0b1f22;
    color:white;
    transition-duration:0.3s;
}